.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
bin/
lib/
include/
share/
build/
dist/
*.egg-info
.pytest_cache
.vscode
checkpoints*
data
mlruns
runs
saved_model
deckgym-core/target
deckgym.so
mined_data.jsonl
*.db
*.npy
!card_embeddings.npy
*.html
league_test
tune_checkpoints
# train_data/*.txt

ipynb
