__pycache__/
*.pyc


.DS_Store
mlflow.db
mlruns/*
checkpoints/*
deckgym.so
deckgym_openspiel/
runs/**
checkpoints*/**
battle.html

.env

# Saved model
saved_model/*
tree.sqlite
tree.sqlite-journal
data/mined/
mined_data.jsonl
league_report.json
matches.db
