workerPoolSpecs:
  - machineSpec:
      machineType: g2-standard-8
      acceleratorType: NVIDIA_L4
      acceleratorCount: 1
    replicaCount: 1
    containerSpec:
      imageUri: us-central1-docker.pkg.dev/r-nad-pokemontcgp/rnad-containers/r-nad-pokemontcgp:latest
      args:
        - "--checkpoint_dir"
        - "/gcs/r-nad-pokemontcgp-checkpoints/checkpoints"
        - "--league_decks_student"
        - "/app/train_data/teacher.csv"
        - "--league_decks_teacher"
        - "/app/train_data/teacher.csv"
scheduling:
  # ここで Spot インスタンスを指定します
  strategy: SPOT
