# TPU用のJAXインストール例
--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html

jax[tpu]
jaxlib
numpy
scipy

# --- Neural Network & Optimization ---
dm-haiku
optax
chex

# --- RL & Game Environment ---
open_spiel
gymnasium

# --- Checkpointing & MLOps ---
orbax-checkpoint
mlflow
optuna
streamlit
tensorflow-cpu
