# GPU用のJAXインストール
jax[cuda12]

numpy
scipy

# --- Neural Network & Optimization ---
dm-haiku
optax
chex

# --- RL & Game Environment ---
open_spiel
gymnasium

# --- Checkpointing & MLOps ---
mlflow
optuna
google-cloud-storage
streamlit
tensorflow-cpu
